@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #0f172a, #000000, #1e1b4b);
  color: white;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}